<div class="background">
    <div id="user_name_profile">
        <h1><strong><%= @user.name %></strong></h1>
    </div>
    <div id="user_nickname_profile">
        <h3><em><%= "Nickname: " + @user.nickname %></em></h3>
    </div>
    
    <div id="interactive_chart"></div>

    <div id="profile_menu">
        <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
        <%= link_to 'Sprivia', sprivia_path, {method: :get, class: 'link'}%>
        <%= link_to 'Edit Info', edit_user_path, {class: 'link'}%>
        <%= link_to 'New Post', new_post_path, {class: 'link'}%>
    </div>
</div>
