<div class="background">
    <h1><strong><%= @user.name %></strong></h1>
    <h3><em><%= "Nickname: " + @user.nickname %></em></h3>


    <nav id="profile_nav">
        <div id="profile_menu">
            <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
            <%= link_to 'Sprivia', sprivia_path, {method: :get, class: 'link'}%>
            <%= link_to 'Edit Info', edit_user_path, {class: 'link'}%>
        </div>
    </nav>
</div>
