<body id="posts">
    <div id="link_to_menu">
        <%= link_to 'Sprivia', sprivia_path, {method: :get, class: 'link'}%>
        <%= link_to 'Log Out', '/', {method: :get, class: 'link'}%>
    </div>
    <div id="parent_container">
        <div id="blog_posts_container">
            <div id="blog_posts">
                <h1 id="create_post_heading">CREATED POSTS</h1>
                <p id="click_to_add_comment">Click on post to view or add comments</p>
                <p>
                    <%= link_to new_post_path do %>
                        <%= image_tag "/images/post-img.png", alt: 'a pencil writing on paper' %>
                    <% end %>
                </p>
            </div>
            </br>
            <div id='posts_index'>
                <% @posts.reverse.each do |post| %>
                    <li class="all_posts">
                        <span><h3>Post:</h3> <h4><%= link_to(post.entry, post) %></h4> </span>
                        <% if post.user %>
                            <span><h3>By:</h3> <h4><%= post.user.name %></h4>  </span>
                        <% end %>
                    </li>
                <% end %>
            </div>
        </div>
    </div>
</body>